/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
}

body {
  @apply bg-gradient-to-br from-rose-50 via-white to-sky-50 text-gray-900;
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

.card {
  @apply bg-white/80 backdrop-blur rounded-3xl shadow-soft;
}

.header-buttons-container{
  min-width: 180px;
}

.logo-header {
  @apply h-8 sm:h-9 lg:h-9 w-auto select-none;
}

.logo-hero {
  @apply w-[112px] sm:w-[128px] h-auto select-none;
}

.hero-fixed {
  @apply h-[320px] sm:h-[320px] lg:h-[320px];
}

.h-41{
  height: 11rem;
}







